*{
    font-family: poppins;
}
#carouselExampleInterval{
    background-image: url(./hot-gadgets/bg-1.png);
    background-repeat: no-repeat;
    background-position: 58%;
    background-size: auto 400px;
    /* border-bottom: 2px solid aqua; */
}
#carouselExampleInterval p{
    padding-right: 50px;
}
.btn{
    background:  linear-gradient(73deg,#2bb5e7,#09f5c5);
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.row{
    /* padding: 30px; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.secimg{
    position: absolute;
    top: 420px;
}
.secimg img{
    height: 160px;
}
#heading{
    display: flex;
    justify-content: space-between;
}
h6{
    color: #ff9d00;
    cursor: pointer;
}
.card,.card-footer{
    border: none;
    background-color: transparent;
    text-align: center;
}
.card img{
    width: 244px;
    margin: auto;
}
.flx{
    display: block;
    margin: auto;
    margin-bottom: 60px;
}

hr{
    color:#ff9c35 !important;
    height: 5px!important;
    opacity: 1!important;
    border-radius: 5px!important;
    width: 160px!important;
    margin: auto!important;
}
.productsCat{
    display: flex;
    justify-content: space-between;
    
}
.bigImg img{
    width: 30rem;
}
.smImg img{
    margin: 10px;
    padding: 7px;
    box-shadow: #ff9c35 0 0 10px;
}